services:
  proxy:
    image: docker.io/nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ${LOCAL_WORKSPACE_FOLDER-.}/.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ${LOCAL_WORKSPACE_FOLDER-.}/.docker/nginx/conf.d/:/etc/nginx/conf.d/

  api:
    image: message-api:latest
    pull_policy: rebuild
    build: 
      context: ./api
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./api

  swagger:
    image: message-swagger:latest
    pull_policy: rebuild
    build: 
      context: ./swagger
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./swagger