services:
  proxy:
    image: docker.io/nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ${LOCAL_WORKSPACE_FOLDER-.}/.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ${LOCAL_WORKSPACE_FOLDER-.}/.docker/nginx/conf.d/:/etc/nginx/conf.d/

  api:
    image: message-api:latest
    pull_policy: rebuild
    build: 
      context: ./api
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./api

  web-swagger:
    image: message-swagger:latest
    pull_policy: rebuild
    build: 
      context: ./web-swagger
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./web-swagger

  web:
    image: message-web:latest
    pull_policy: rebuild
    build: 
      context: ./web
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./web